* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;

}

body {
    background-image: url('123.jpeg');
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.hidden{
    display: none;
}



/*       자리표시        */


.seatContainer{
    margin-left: 15%;
    border: 1px solid;
    border-color: #ffffff;
    padding: 70px;
    border-radius: 25px;
}

.stage{
    width: 60%;
    height: 60px;
    border: none;
    background-color: #d1d1d1;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    position: relative; 
    left: 20%;
}
.text0{
    position: relative; top: 18%;
}

.console{
    width: 20%;
    height: 30px;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #ffffff;
    background-color: #000000;
    margin-bottom: 10px;
    position: relative; 
    left: 40%;
}
.text1{
    position: relative; 
    top: 2px; 
    left: 15px;
}

.row{
    display: flex;
}

.seat{
    background-color: #4444514f;
    color: #ffffff;
    border: 1px solid;
    border-color: #a4a4a49f;
    width: 33px;
    height: 50px;
    margin: 3px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
}
.seat:nth-of-type(5){
    margin-right: 20px;
}


.back{
    display: flex;
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    color: #c2c2c2;
}


.seat0{
    background-color:#000000;
    width: 50%;
    height: 300px;
    border-radius: 15px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
}

.text{
    position: relative; 
    top: 40%;
}

.seat1{
    background-color:#000000;
    width: 50%;
    height: 300px;
    margin-left: 5%;
    border-radius: 15px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
}

.selectedSeat{
    background-color: #01eaff;
    width: 33px;
    height: 50px;
    margin: 3px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.occupiedSeat{
    background-color: #fff;
    text-align: center;
    width: 35px;
    height: 40px;
    margin: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.selectedSeat:nth-of-type(5){
    margin-right: 20px;
}



/*       로그인 전 정보표시       */

.information0{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

#login {
    margin-left:  -20%;
    border: 1px solid;
    border-color: #0a3810;
    border-radius: 25px;
    padding: 50px;
}


.int-area {
    width: 400px;
    position: relative;
    margin-top: 30px;
}

.int-area:first-child {
    margin-top: 0;
}

.int-area input {
    width: 100%;
    padding: 25px 10px 10px;
    /* 배경색이 없습니다.*/
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 20px;
    color: #fff;
    outline: none;
}

.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 20px;
    color: #bcbcbc;
    transition: top 0.5s ease;
}

.int-area label.warning {
    color: red !important;
    animation: warning 0.3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {
        transform: translateX(-8px);
    }
    25% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-8px);
    }
    100% {
        transform: translateX(8px);
    }
}

.int-area input:focus + label,
.int-area input:valid + label {
    top: 0;
    font-size: 17px;
    color: #0fc8c8;
}

.btn-area {
    margin-top: 50px;
}

.btn-area button {
    width: 100%;
    height: 40px;
    background-color: #787eeb;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 25px;
}



/*      로그인 후 정보표시        */

#infor{
    border: 1px solid;
    border-radius: 25px;
    border-color: #0a381063;
    padding: 20px;
    padding-bottom: 0;
    padding-right: 0;
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    width: 50%;
    margin-right: 40%;
}
#greeting1{
    
    margin: 5% 0;

}
#greeting2{
    
    margin: 5% 0;

}
#greeting3{
    
    margin: 5% 0;

}

#greeting4{
    margin-top: 0 0;
}

#remove_storage{
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50px;
    border-color: rgb(152, 152, 152);
    width: 250px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    margin: 20% 0;

}










                /* 모바일 화면 */



        /* Mobile-friendly CSS */

@media only screen and (max-width: 820px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }
    
    body {
        background-image: url('123.jpeg');
    }
    
    .hidden{
        display: none;
    }
    
    #container{
        
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    
    }
    
    .seatContainer{
        text-align: center;
        border: 1px solid;
        border-color: #ffffff;
        border-radius: 25px;
        margin: 20px;
        padding: 30px;
    }
    
    
    .stage{
        width: 30%;
        height: 40px;
        border: none;
        background-color: #d1d1d1;
        margin-bottom: 10px;
        text-align: center;
        font-size: 20px;
        border-radius: 10px;
      
        position: relative; 
        left: 35%;
    }
    .text0{
        position: relative; top: 15%;
    }
    
    
    
    .console{
        width: 12%;
        height: 20px;
        color: #ffffff;
        border-radius: 10px;
        border: 1px solid;
        border-color: #ffffff;
        background-color: #000000;
        margin-bottom: 10px;
        font-size: 10px;
    
        position: relative; 
        left: 44%;
    }
    .text1{
        position: relative; 
        top: 1px; 
        left: 0px;
    }
    
    
    
    
    .row{
        display: flex;
    }
    
    .seat{
        background-color: #4444514f;
        color: #ffffff;
        border: 1px solid;
        border-color: #a4a4a49f;
        width: 25px;
        height: 40px;
        margin: 3px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        text-align: center;
        font-size: 11px;
    
        position: relative; 
        top: 0px; 
        left: 0px;
    }
    .seat:nth-of-type(5){
        margin-right: 20px;
    }
    
    
    .back{
        display: flex;
        margin-top: 25px;
        text-align: center;
        font-size: 20px;
        color: #c2c2c2;
    }
    
    
    .seat0{
        background-color:#000000;
        width: 50%;
        height: 180px;
        border-radius: 15px;
        border: 1px solid;
        border-color: rgb(255, 255, 255);
        font-size: 15px;
    }
    
    .text{
        position: relative; 
        top: 40%;
    }
    
    .seat1{
        background-color:#000000;
        width: 50%;
        height: 180px;
        margin-left: 5%;
        border-radius: 15px;
        border: 1px solid;
        border-color: rgb(255, 255, 255);
        font-size: 15px;
    }
    
    
    
    
    .selectedSeat{
        background-color: #01eaff;
        width: 25px;
        height: 40px;
        margin: 3px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        text-align: center;
        font-size: 11px;
    
        position: relative; 
        top: 0px; 
        left: 0px;
    }
    .selectedSeat:nth-of-type(5){
        margin-right: 20px;
    }
    
    
    
    .occupiedSeat{
        background-color: #fff;
        text-align: center;
        width: 35px;
        height: 40px;
        margin: 4px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    /*       로그인 전 정보표시       */
    
    .information0{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    
    #login {
        border: 1px solid;
        border-color: #ffffff;
        border-radius: 25px;
        padding: 20px;
    }
    
    
    
    .int-area {
        width: 250px;
        position: relative;
    }
    .int-area:first-child {
        margin-top: 0;
    }
    .int-area input {
        width: 100%;
        padding: 20px 10px 10px;
        /* 배경색이 없습니다.*/
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #999;
        font-size: 17px;
        color: #fff;
        outline: none;
    }
    .int-area label {
        position: absolute;
        left: 10px;
        top: 20px;
        font-size: 15px;
        color: #bcbcbc;
        transition: top 0.5s ease;
    }
    .int-area label.warning {
        color: red !important;
        animation: warning 0.3s ease;
        animation-iteration-count: 3;
    }
    
    @keyframes warning {
        0% {
            transform: translateX(-8px);
        }
        25% {
            transform: translateX(8px);
        }
        50% {
            transform: translateX(-8px);
        }
        100% {
            transform: translateX(8px);
        }
    }
    .int-area input:focus + label,
    .int-area input:valid + label {
        top: 0;
        font-size: 13px;
        color: #0fc8c8;
    }
    
    
    
    .btn-area {
        margin-top: 30px;
    }
    .btn-area button {
        width: 100%;
        height: 30px;
        background-color: #787eeb;
        color: #fff;
        border: none;
        font-size: 15px;
        border-radius: 25px;
    }
    
    
    
    /*      로그인 후 정보표시        */
    
    #infor{
        border: 1px solid;
        border-color: #ffffff;
        border-radius: 15px;
        color: #ffffff;
        text-align: left;
        font-size: 15px;
        width: 50%;
        padding: 15px;
        margin-top: 10px;
    }
    #greeting4{
        margin-top: 15px;
    }
    
    #remove_storage{
        background-color: #ffffff;
        color: #000000;
        border: none;
        border-radius: 50px;
        border-color: rgb(152, 152, 152);
        width: 100%;
        height: 30px;
        font-size: 12px;
        text-align: center;
        margin-top: 30px;
    
    }
}