* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url('123.jpeg');
}

.hidden{
    display: none;
}

#container{
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.seatContainer{
    text-align: center;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
}


.stage{
    width: 30%;
    height: 40px;
    border: none;
    background-color: #d1d1d1;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
  
    position: relative; 
    left: 35%;
}
.text0{
    position: relative; top: 15%;
}
#기둥{
    background-color: #ffffff00;
    border-radius: 0px;
    font-size: 10px;
}




.console{
    width: 12%;
    height: 20px;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #ffffff;
    background-color: #000000;
    margin-bottom: 10px;
    font-size: 10px;

    position: relative; 
    left: 44%;
}
.text1{
    position: relative; 
    top: 1px; 
    left: 0px;
}




.row{
    display: flex;
    width: 100%;
    justify-content: center;
}

.seat{
    background-color: #4444514f;
    color: #ffffff;
    border: 1px solid;
    border-color: #a4a4a49f;
    width: 40px;
    height: 40px;
    margin: 3px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    font-size: 6px;

    position: relative; 
    top: 0px; 
    left: 0px;
}
.seat:nth-of-type(6){
    margin-right: 20px;
}


.back{
    display: flex;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: #c2c2c2;
}


.seat0{
    background-color:#000000;
    width: 150px;
    height: 180px;
    border-radius: 15px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    font-size: 15px;
}

.text{
    position: relative; 
    top: 40%;
}

.seat1{
    background-color:#000000;
    width: 150px;
    height: 180px;
    margin-left: 7%;
    border-radius: 15px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    font-size: 15px;
}




.selectedSeat{
    background-color: #01eaff;
    width: 40px;
    height: 40px;
    margin: 3px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    font-size: 6px;

    position: relative; 
    top: 0px; 
    left: 0px;
}
.selectedSeat:nth-of-type(5){
    margin-right: 20px;
}



.occupiedSeat{
    background-color: #3838388b;
    width: 40px;
    height: 40px;
    margin: 3px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    font-size: 6px;
}












/*       로그인 전 정보표시       */

.information0{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 25px;
    padding: 20px;
}



.int-area {
    width: 250px;
    position: relative;
}
.int-area:first-child {
    margin-top: 0;
}
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    /* 배경색이 없습니다.*/
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 17px;
    color: #fff;
    outline: none;
}
.int-area label {
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 15px;
    color: #bcbcbc;
    transition: top 0.5s ease;
}
.int-area label.warning {
    color: red !important;
    animation: warning 0.3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {
        transform: translateX(-8px);
    }
    25% {
        transform: translateX(8px);
    }
    50% {
        transform: translateX(-8px);
    }
    100% {
        transform: translateX(8px);
    }
}
.int-area input:focus + label,
.int-area input:valid + label {
    top: 0;
    font-size: 13px;
    color: #0fc8c8;
}



.btn-area {
    margin-top: 30px;
}
.btn-area button {
    width: 100%;
    height: 30px;
    background-color: #787eeb;
    color: #fff;
    border: none;
    font-size: 15px;
    border-radius: 25px;
}



/*      로그인 후 정보표시        */

#infor{
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 15px;
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    width: 50%;
    padding: 15px;
    margin-top: 10px;
}
#greeting4{
    margin-top: 15px;
    color: #0fc8c8;
}

#remove_storage{
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50px;
    border-color: rgb(152, 152, 152);
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;

}


#moblie{
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    color: rgb(64, 64, 64);
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 20%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}